
.break-info{
    display: flex;
    margin-left: -50px;
    justify-content: center;
    border: none;
    padding: 0px;
}
.break-info button{
    border: none;
    background-color: #FFFFFF;
}
.btn-break{
    margin-right: 3px;
    background-color: #E9EBEC;
    
    padding: 10px;
    font-weight: 700;
}

.time p{
    background-color: blue;
    color: white;
}